<div class="mb-3" *ngIf="getItemsLength">
    <small class="filter-link" (click)="filter='all'" [ngClass]="{'active': filter === 'all'}">all:
        {{getItemsLength}}, </small>
    <small class="filter-link" (click)="filter='completed'" [ngClass]="{'active': filter === 'completed'}">completed:
        {{getDoneItemsLength}}, </small>
    <small class="filter-link" (click)="filter='uncompleted'"
        [ngClass]="{'active': filter === 'uncompleted'}">uncompleted: {{getItemsLength - getDoneItemsLength}},
    </small>
    <small>done: {{getPersentageOfDoneItems | percent}}, </small>
</div>
<form [formGroup]="form" (ngSubmit)="addItem()">
    <div class="input-group mb-3">
        <input type="text" class="form-control" formControlName="title" />
        <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-plus"></i></button>
    </div>
</form>
<div class="list-group list-group-flush">
    <app-todo-item *ngFor="let item of this.items" class="list-group-item " [item]="item" (saveState)="save()"
        (editingItem)="editItem($event)" (doneEditing)="doneEdit($event)" (deletingIteam)="deleteItem($event)">
    </app-todo-item>
</div>
<button *ngIf="getDoneItemsLength" class="btn btn-sm btn-light" (click)="deleteCompleted()">
    <i class="fas fa-trash-alt mr-1"></i> delete completed items
</button>
<div class="info bg-light p-2 mt-3">
    <small *ngIf="getItemsLength"><i class="fas fa-info-circle mr-1"></i> If you want to edit the item of the list
        try to
        double click on it!<br /><i class="fas fa-info-circle mr-1"></i> To filter the items by category click on
        the same links on the top of the app.</small>
    <small *ngIf="!getItemsLength"><i class="fas fa-info-circle mr-1"></i> Add some item to keep track of completed
        tasks!</small>
</div>