input.form-control:focus {
  box-shadow: inset 0 0 0 #ddd;
  border-color: #aaa;
}

.filter-link {
  cursor: pointer;
}

.active {
  color: tomato;
}

.custom-border {
	border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}

.btn-transperent {
	background-color: transparent;
	color: #eee;
	border: none;
}

.form-control::placeholder {
	color: #ddd;
	opacity: 1;
}