<div class="mb-3" *ngIf="lengthOfTodos$ | async">
	<small class="filter-link all" (click)="filter='all'" [ngClass]="{'active': filter === 'all'}">all:
		{{lengthOfTodos$ | async}}</small>
	<small class="filter-link completed" (click)="filter='completed'"
		[ngClass]="{'active': filter === 'completed'}">completed:
		{{lengthOfCompletedTodos$ | async}}</small>
	<small class="filter-link inprogress" (click)="filter='inprogress'"
		[ngClass]="{'active': filter === 'inprogress'}">inprogress:
		{{lengthOfUncompletedTodos$ | async}}
	</small>
	<small class="filter-link pointer-none">done: {{persentageOfCompletedTodos$ | async | percent}}</small>
</div>
<app-todo-input-form (addItemOnSubmit)="addItem($event)" ></app-todo-input-form>
<div *ngIf="lengthOfTodos$ | async" class="input-group mb-3 border-bottom">
	<input type="text" class="form-control border-0" [(ngModel)]="term" placeholder="search" />
	<button *ngIf="term" class="btn btn-sm btn-transperent" type="button" (click)="term=''">
		<fa-icon [icon]="faTimes" [fixedWidth]="true"></fa-icon>
	</button>
</div>
<div class="list-group list-group-flush mb-3">
	<app-todo-item *ngFor="let item of allTodos$ | async | filter:term | filter:filter" class="list-group-item "
		[item]="item" (editingItem)="editItem($event)" (doneEditing)="doneEdit($event, item.id)"
		(deletingIteam)="deleteItem($event)" (completingIteam)="completeItem($event)">
	</app-todo-item>
</div>
<button *ngIf="lengthOfCompletedTodos$ | async" class="btn btn-sm btn-light" (click)="deleteCompleted()">
	<fa-icon [icon]="faTrash" class="mr-1"></fa-icon> delete completed items
</button>
<div class="info mt-3" (click)="toggleVisibleInfoOnClick()">
	<div *ngIf="showInfo" class="bg-light px-2 py-1">
		<small *ngIf="lengthOfTodos$ | async; else startMessage">
			<fa-icon [icon]="faInfoCircle" class="mr-1"></fa-icon> To edit or delete the item hover it.<br>
			<fa-icon [icon]="faInfoCircle" class="mr-1"></fa-icon> To filter the items by category click on
			the same links on the top of the app.<br>
			<fa-icon [icon]="faInfoCircle" class="mr-1"></fa-icon> To hide this help block click on it.
		</small>
		<ng-template #startMessage>
			<small>
				<fa-icon [icon]="faInfoCircle" class="mr-1"></fa-icon> Add some item to start tracking your tasks!
			</small>
		</ng-template>
	</div>
	<button *ngIf="!showInfo" class="btn btn-sm btn-light">
		<fa-icon [icon]="faQuestionCircle" class="mr-1"></fa-icon> Press to show help information
	</button>
</div>