<div class="mb-3" *ngIf="countOfTodoItems">
    <small class="filter-link" (click)="filter='all'" [ngClass]="{'active': filter === 'all'}">all:
        {{countOfTodoItems}}, </small>
    <small class="filter-link" (click)="filter='completed'" [ngClass]="{'active': filter === 'completed'}">completed:
        {{countOfCompletedTodoItems}}, </small>
    <small class="filter-link" (click)="filter='uncompleted'"
        [ngClass]="{'active': filter === 'uncompleted'}">uncompleted: {{countOfTodoItems - countOfCompletedTodoItems}},
    </small>
    <small>done: {{ countOfCompletedTodoItems / countOfTodoItems | percent}}, </small>
</div>
<form [formGroup]="form" (ngSubmit)="addItem()">
    <div class="input-group mb-3">
        <input type="text" class="form-control" formControlName="title" />
        <button class="btn btn-outline-secondary" type="submit"><fa-icon [icon]="faPlus"></fa-icon></button>
    </div>
</form>
<div class="list-group list-group-flush">
    <app-todo-item *ngFor="let item of todos" class="list-group-item " [item]="item"
        (editingItem)="editItem($event)" (doneEditing)="doneEdit($event, item.id)" (deletingIteam)="deleteItem($event)" (completingIteam)="completeItem($event)">
    </app-todo-item>
</div>
<button *ngIf="countOfCompletedTodoItems" class="btn btn-sm btn-light" (click)="deleteCompleted()">
    <i class="fas fa-trash-alt mr-1"></i> delete completed items
</button>
<div class="info bg-light p-2 mt-3">
    <small *ngIf="countOfTodoItems"><fa-icon [icon]="faInfoCircle"></fa-icon> If you want to edit the item of the list
        try to
        double click on it!<br /><fa-icon [icon]="faInfoCircle"></fa-icon> To filter the items by category click on
        the same links on the top of the app.</small>
    <small *ngIf="!countOfTodoItems"><fa-icon [icon]="faInfoCircle"></fa-icon> Add some item to start tracking your tasks!</small>
</div>