<section class="container">
  <h1 class="display-4 my-3">My ToDos</h1>
  <form [formGroup]="form" (ngSubmit)="addItem()">
    <div class="input-group mb-3">
      <input type="text" class="form-control" formControlName="title" />
      <button class="btn btn-outline-secondary" type="submit">Add</button>
    </div>
  </form>
  <ul class="list-group list-group-flush">
    <li
      *ngFor="let item of getItems()"
      class="list-group-item d-flex justify-content-between mb-2"
    >
      <div>
        <input
          class="mr-2"
          type="checkbox"
          [(ngModel)]="item.done"
          (change)="save()"
        />
        <span
          *ngIf="!item.edit; else editingTodo"
          class="title"
          (dblclick)="editItem(item)"
          [ngClass]=" { 'completed' : item.done } "
          >{{item.title}}</span
        >
        <ng-template #editingTodo>
          <input
            type="text"
            [(ngModel)]="item.title"
            (blur)="doneEdit(item)"
            (keyup.enter)="doneEdit(item)"
            autofocus
          />
        </ng-template>
      </div>
      <button
        class="btn btn-sm btn-outline-danger float-right"
        (click)="deleteItem(item.id)"
      >
        del
      </button>
    </li>
  </ul>
  <button class="btn btn-sm btn-light" (click)="deleteCompleted()">
    delete completed
  </button>
  <div class="info text-black-50 bg-light p-2 mt-3">
    <small
      >If you want to edit the item of the list try to double click on it!</small
    >
  </div>
</section>
