<div class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
        <label>
            <input class="mr-2" type="checkbox" [checked]="item.done" (click)="completeItem(item.id)" />
            <span *ngIf="!item.edit; else editingTodo" class="title"
                [ngClass]="{'completed': item.done}">{{item.title}}</span>
        </label>
        <ng-template #editingTodo>
            <input class="wht-border" type="text" [(ngModel)]="title" (blur)="doneEdit(item)"
                (keyup.enter)="doneEdit(item)" autofocus />
        </ng-template>
    </div>
    <div>
        <button class="btn btn-sm btn-light mr-1" (click)="editItem(item.id)">
            <i class="fas fa-pen text-black-50"></i>
        </button>
        <button class="btn btn-sm btn-light" (click)="deleteItem(item.id)">
            <i class="fas fa-times text-black-50"></i>
        </button>
    </div>
</div>