.completed {
  text-decoration: line-through;
}

.wht-border {
  border: 1px solid #ddd;
  padding: 5px;
  margin: 0;
  outline: none;
  background-color: #f8f8f8;
  border-radius: .25rem;
  line-height: normal;
}

.title {
  border: 1px solid #fff;
  padding: 5px;
}
