/* @media (prefers-color-scheme: dark) {
  :root {
    background-color: #fff;
    filter: invert(100%);
  }

  * {
    background-color: inherit;
  }

  img:not([src*=".svg"]) {
    filter: invert(100%);
  }
} */

html,
body {
  height: 100%;
}
